.home {
	font-family: 'Montserrat';
	margin-top: 130px;
	height: calc(100% + 130px);

	&__section-one {
		height: calc(100vh - 130px);
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		margin: 0 auto;
		z-index: -1;

		&__text {
			position: fixed;
			width: 1330px;
			height: 480px;
			width: 74vw;
			height: 25vw;
			line-height: 1;
			letter-spacing: 1px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			font-weight: 800;
			cursor: default;

			&__hello {
				font-family: 'Caveat';
				font-size: 50px;
				font-size: 2.4vw;
				align-self: flex-start;
				margin-left: 150px;
				margin-left: 7.5vw;
			}
			&__front-end {
				font-size: 140px;
				font-size: 7vw;
				align-self: flex-start;
			}
			&__web-developer {
				font-size: 140px;
				font-size: 7vw;
				align-self: flex-end;
				color: transparent;
				-webkit-text-stroke: 2px #f0f0f0;
			}
			&__portfolio-text {
				font-family: 'Caveat';
				font-size: 50px;
				font-size: 2.4vw;
				align-self: flex-end;
				margin-right: 10vw;
			}
		}
	}
}

//Media Queries

@media screen and (max-width: 1300px) {
	.home {
		&__section-one {
			&__text {
				width: 85vw;
				height: 30vw;
				&__hello,
				&__portfolio-text {
					font-size: 3.2vw;
				}

				&__front-end,
				&__web-developer {
					font-size: 9vw;
				}
			}
		}
	}
}
@media screen and (max-width: 700px) {
	.home {
		&__section-one {
			&__text {
				height: 35vw;
				&__hello,
				&__portfolio-text {
					font-size: 4.5vw;
				}

				&__front-end,
				&__web-developer {
					font-size: 9vw;
				}
			}
		}
	}
}
