.mobile {
	position: fixed;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	height: 30px;
	width: 40px;
	right: 60px;
	top: 60px;
	z-index: 101;
	&__btn {
		width: 100%;
		height: 4px;
		background-color: #fff;
		z-index: 101;
		border-radius: 10px;
		top: 50%;
		transform: translateY(-50%);
		position: absolute;

		&:after,
		&:before {
			content: '';
			background-color: #f0f0f0;
			border-radius: 10px;
			height: 4px;
			width: 100%;
			position: absolute;
			transition: all 200ms;
		}
		&:after {
			top: -10px;
		}
		&:before {
			bottom: -10px;
		}
	}
	.grey {
		background-color: var(--main-bg-color);
		position: absolute;
		height: 0;
		&:after,
		&:before {
			transition: .5s all;
			background-color: var(--main-bg-color);
			top: 1px;
		}
		&:after {
			transform: rotate(45deg);
		}
		&:before {
			transform: rotate(-45deg);
		}
		transition: .5s background-color;
	}
}

.mobile--overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

@media screen and (max-width: 950px) {
	.mobile {
		display: flex;
	}
}

@media screen and (max-width: 500px) {
	.mobile {
		right: 37.5px;
	}
}
